/*! HTML5 Boilerplate v6.0.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.5px;
    background: #ffffff;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    display: inline-block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

header .header_inner {
    width: 1000px;
    min-width: 1000px;
    position: relative;
    margin: 0 auto;
    padding: 60px 0 50px 0;
    color: #333333;
}

header {
    width: 100%;
    min-width: 1000px;
    text-align: center;
    background: linear-gradient(45deg, #130c31, #40284c);
    background-size: 120% 180%;
    background-position: left bottom;
}

#logo {
    width: auto;
    float: left;
    margin-bottom: 20px;
}

.intro_text {
    width: 892px;
    clear: both;
    margin-top: 30px;
    text-align: left;
    float: left;
}

.intro_text h1 {
    color: #ffffff;
    font-weight: 800;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.intro_text h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

footer #footer_inner {
    width: 1000px;
    margin: 0 auto;
    padding-top: 86px;
    padding-bottom: 24px;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    color: #8C95A2;
}

footer .location {
    width: auto;
    float: left;
}

footer .location .address {
    float: left;
}

footer .fineprint .copyright {
    float: right;
}

#submission_error {
    color: #f44242;
    text-align: center;
    margin: 50px 5px 20px 5px;
}

#submission_error h3 {
    font-size: 18px;
    line-height: 24px;
}

#submission_error_message {
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    text-align: left;
    white-space: pre-wrap;
}

#tos_btn {
    display: inline-block;
    border: 0;
    font-weight: 900;
    padding: 12px 30px 12px 30px;
    margin: 0 5px;
    letter-spacing: 1px;
    color: #6D6685;
    background: white;
    opacity: .95;
    font-size: 12px;
    line-height: 12px;
}

#analysis_start {
    display: block;
    border: 0;
    border-radius: 6px;
    font-weight: 900;
    padding: 18px 80px 18px 80px;
    margin: 20px auto 10px auto;
    letter-spacing: 1px;
    color: #ffffff;
    background: rgb(58, 32, 68);
    font-size: 24px;
    line-height: 24px;
}

#analysis_start:hover {
    color: #6D6685;
    transition: all 0.1s linear;
}

.code_form_header {
    background-color: rgb(58, 32, 68);
    padding: 8px 15px;
    color: white;
    vertical-align: middle;
}

.code_form_title {
    float: left;
    margin: 2px 0;
}

section .content_block {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

section#content_upload .content_inner {
    color: #2f61ad;
    padding-top: 70px;
    padding-bottom: 30px;
}

section .content_inner {
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
    text-align: left;
    position: relative;
}

#analysis_results .status.safe {
    background-image: url("../img/checkmark.png");
}

#analysis_results .status.matched {
    background-image: url("../img/crossmark.png");
}

#analysis_results .status {
    display: inline-block;
    margin: 5px 10px 5px 0px;
    width: 20px;
    height: 20px;

    background-size: 100% 100%;
    vertical-align: middle;
    color: transparent;
    overflow: hidden;
    cursor: help;
}

#content_analysis {
    background-color: #414463;
    background-image: url("../img/bg-small.jpg");
    background-size: 100% 100%;
    letter-spacing: 0;
}

#analysis_result_wrapper {
    margin: 0 20px 0 0;
    flex: 2 0 360px;
}

.content_reg h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0;
    color: #8C95A2;
    letter-spacing: 0.5px;
}

#analysis_results {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin: 20px 0 0 0;
}

#pattern_table {
    columns: 480px 2;
}

.pattern_category {
    display: flex;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    page-break-inside: avoid;
}

.pattern_category_logo {
    flex: none;
    width: 70px;
    height: 60px;
    margin-right: 20px;
}

.pattern_category table {
    width: 100%;
    border-collapse: collapse;
}

.pattern_category table td:nth-child(1) {
    width: 30px;
}

.pattern_category table td:nth-child(3) {
    width: 55px;
}

.pattern_category table td:nth-child(4) {
    width: 50px;
}

.pattern_info {
    font-size: 14px;
    margin: 0px 0px 0px 5px;
    padding: 2px 4px;
    cursor: pointer;
    font-weight: 400;
    color: #60d3f0;
}

.code_form_toggles {
    float: right;
    margin: 2px -6px 2px 2px;
}



